---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Highlight from '../../ui/Highlight.astro'

// Content
import ctaImage from '../../../assets/cta-dark-bg.webp'
import badge from '../../../assets/badge.svg'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Launch a high traffic job board in minutes"
				text="Join our early access program and get 3 months free. Limited spots available."
				mode="dark"
				bg={ctaImage}
			>
				<ChipNotification radius="rounded-full" classes="mb-6 box">
					<Image src={badge} alt="Product of the Year" class="h-12 w-12" slot="button" />
					<span>Early Bird Access</span>
					<Highlight classes="ml-2">50% OFF</Highlight>
				</ChipNotification>
				
				<a href="https://form.zootools.co/go/Ui8SK8MUDfuuMebh5iav" data-waitlist-id="Ui8SK8MUDfuuMebh5iav" class="text-white hover:text-white/80 bg-orange-500 rounded-lg p-4 -mt-4 text-bold">Increase your job board traffic →</a>
			</CTA>
			<Col span="1" />
		</Col>
	</Row>
</Section>
